@charset "utf-8";

@font-face {
    font-family: 'RixSGoB';
    src: url('../fonts/RixSGoB.eot');
    src: url('../fonts/RixSGoB.eot?#iefix') format('embedded-opentype'), url('../fonts/RixSGoB.woff') format('woff'),
        url('../fonts/RixSGoB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
