@charset "utf-8";
a {
    color: #e41b23;
    text-decoration: none;
}
.textRed {
    color: #e41b23 !important;
}
a:hover {
    text-decoration: underline;
}
select {
    height: 25px;
}
textarea {
    width: 100%;
    height: 70px;
    border-color: #ccc;
    color: #777;
}
label span {
    margin-left: 3px;
    vertical-align: middle;
}

#container,
#content {
    padding: 100px 20px 50px;
}

#header {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    *zoom: 1;
    vertical-align: top;
    border-bottom: 3px solid #f32e3c;
    background-color: #4c453e;
    z-index: 1;
    @include Flex-config($align: center);
}
#header:after {
    content: '';
    display: block;
    clear: both;
}

#header h1,
#header .datepicker_area,
#header .function_wrap,
#header .work_wrap,
#header .option_wrap {
    position: relative;
    float: left;
    margin-left: 20px;
}
#header .function_wrap:after,
#header .wrap-linked:after,
#header .page_list:after,
#header .work_wrap:after,
#header .option_wrap:after {
    position: absolute;
    top: 50%;
    left: -10px;
    height: 12px;
    width: 2px;
    margin-top: -5px;
    background: #fff;
    content: '';
}

#header h1 {
    display: inline-block;
    margin-left: 0;
    padding: 1px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    padding: 0 5px;
}
#header h1 * {
    font: 15px/1.5 Verdana, Arial, Dotum, Gulim;
    font-weight: bold;
}
#header h1 span,
h1 span i {
    display: inline-block;
    color: #4c453e;
}
#header h1 .name-sub b {
    color: #f32e3c;
}
#header h1 span i {
    padding: 0 3px;
    font-style: normal;
    color: #fff;
    background-color: #f32e3c;
}
#header h1 span i:first-child {
    background-color: #4c453e;
}

#header .app-version {
    float: left;
    color: #fff;
    margin: 0 0 0 8px;
}
#header #goList {
    display: inline-block;
    width: 80px;
    height: 20px;
    border: 1px solid #fff;
    vertical-align: middle;
}
#header .datepicker_area img {
    display: inline-block;
    vertical-align: middle;
}
#header #goList option {
    display: block;
}

#header .function_wrap h2 {
    display: none;
}
#header .work_wrap h2 {
    display: none;
}
#header .option_wrap h2 {
    display: none;
}
#header .function_wrap a,
#header .work_wrap a,
#header .option_wrap a {
    display: inline-block;
    padding: 2px 4px;
    height: 18px;
    color: #fff;
    border: 1px solid #fff;
}
#header .function_wrap a.tracking {
    background-color: #3b96e5;
}
#header .function_wrap a.tracking + .tracking_info {
    margin-left: -4px;
    padding: 2px 5px;
    color: #000;
    border-radius: 0 40%;
    background-color: #ededed;
}
#header .function_wrap a + a {
    margin-left: 5px;
}
#header .option_wrap a.work-time {
    background-color: #4ec05e;
}
#header .option_wrap a.recipe {
    background-color: #414fb2;
}

#header .langs-link {
    position: absolute;
    right: 70px;
    top: 10px;
}
#header .langs-link h2 {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    display: none;
}
#header .langs-link nav {
    display: inline-block;
}
#header .langs-link a {
    display: inline-block;
    padding: 2px 10px;
    height: 18px;
    color: #fff;
    border: 1px solid #fff;
}
#header .langs-link a:hover,
#header .langs-link a.active {
    background-color: #0072bc;
}
#header .langs-link a:hover:not(first-child).active,
#header .langs-link a:not(first-child).active {
    background-color: #ff8400;
}
#header .langs-link .btn-data-write {
    position: relative;
    margin-left: 12px;
    background-color: #ed145b;
}
#header .langs-link .btn-data-write:hover,
#header .langs-link .btn-data-write.active {
    color: #fff;
    background-color: #000;
}

#container .task-board {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #878787;
    table-layout: fixed;
    word-break: break-all;
}
#container .task-board tbody tr:hover {
    background-color: #fcebec;
}
#container .task-board tr.end td,
#container .task-board tr.end th {
    background-color: #ddd;
}
#container .task-board tr.bos td,
#container .task-board tr.bos th {
    background-color: #eff;
}
#container .task-board tr.caution td,
#container .task-board tr.caution th {
    background-color: #fef;
}
#container .task-board tr:hover td[data-desc]:after {
    content: attr(data-desc);
    display: inline-block;
    color: #333;
    font-weight: bold;
}
#container .task-board th,
#container .task-board td {
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}
#container .task-board th {
    font-size: 11px;
    color: #fff;
    text-align: center;
    background-color: #4c453e;
}
#container .task-board thead th {
    border-left: 1px solid #6d645b;
    border-top: 1px solid #6d645b;
}
#container .task-board tbody th {
    color: #333;
    font-weight: normal;
    background: none;
}
#container .task-board td {
    padding: 10px 5px;
}
#container .task-board td.conts,
#container .task-board td.conts + td {
    text-align: left;
}
#container .task-board td.file a {
    display: inline-block;
    vertical-align: middle;
}
#container .task-board td.file a:before {
    content: ' ';
    display: inline-block;
    clear: both;
    width: 14px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url('../images/img_down.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#container .task-board tbody tr {
    border-top: 1px solid #d2d2d2;
}
#container .task-board tbody tr:first-child {
    border-top: none;
}
#container .task-board tbody tr td:nth-child(2) a {
    color: #555;
}

#container .task-board img {
    max-width: 100%;
}
#container .task-board .start-date {
    font-size: 11px;
}
#container .task-board .end-date {
    font-size: 11px;
    color: blue;
}
#container .task-board .normal-state {
    color: green;
}
#container .task-board .caution-state {
    color: indigo;
}
.day-tasks .task-board .langs-links {
    width: 100%;
}
.day-tasks .task-board .langs-links:after {
    content: '';
    display: block;
    clear: both;
}
.day-tasks .task-board .langs-links li {
    float: left;
    width: 20%;
    height: 24px;
    padding: 2px 2px;
    text-align: center;
    box-sizing: border-box;
}
.day-tasks .task-board .langs-links li button {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 11px;
    border-radius: 3px;
    border: none;
    background-color: #eaeaea;
    box-sizing: border-box;
}
.day-tasks .task-board .langs-links li button:hover {
    color: #fff;
    background-color: #000;
}

#container .board-ex {
    padding: 0 5px 10px;
}
#container .board-ex i {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    padding-left: 15px;
}
#container .board-ex i:first-child {
    margin-left: 0;
}
#container .board-ex i:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}
#container .board-ex i:nth-child(1):after {
    background-color: #fff;
}
#container .board-ex i:nth-child(2):after {
    background-color: #fef;
}
#container .board-ex i:nth-child(3):after {
    background-color: #ddd;
}

#container .tit {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
#container .write-wrap {
    max-width: 920px;
    margin: 0 auto;
    background-color: #fff;
}
#container .write-wrap table {
    border: 1px solid #dedede;
    width: 100%;
}
#container .write-wrap th {
    padding: 10px;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background-color: #f8f8f8;
}
#container .write-wrap td {
    padding: 10px;
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
}
#container .write-wrap td textarea {
    box-sizing: border-box;
}
#container .write-wrap td input[type='text'] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#container .write-wrap em {
    color: red;
    vertical-align: middle;
}
#container .write-wrap .guide {
    text-align: right;
}
#container .write-wrap .btn-wrap {
    text-align: center;
    margin-top: 20px;
    font-size: 0px;
}
#container .write-wrap .btn-wrap .btn {
    background-color: #e53433;
    color: #fff;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#container .write-wrap .btn-wrap .btn + .btn {
    margin-left: 10px;
    background-color: #787878;
}
#container .write-wrap .input-guide {
    color: #ff0000;
    margin-top: 10px;
}
#container .write-wrap .err {
    color: blue;
    font-weight: bold;
}
#container .write-wrap .links-langs-input li {
    margin-top: 8px;
}
#container .write-wrap .links-langs-input li:first-child {
    margin-top: 0px;
}
#container .write-wrap .links-langs-input span {
    display: inline-block;
    width: 34px;
}
#container .write-wrap .links-langs-input textarea {
    width: 660px;
    height: 27px;
    vertical-align: middle;
    cursor: pointer;
}
#container .write-wrap .links-langs-input textarea:hover {
    border-color: blue;
}
#container .write-wrap .links-langs-input textarea.on {
    border-color: blue;
    background-color: aliceblue;
}

#container {
    padding-top: 70px;
}
.day-tasks {
}

.search-w {
    overflow: hidden;
    margin-bottom: 5px;
}
.search-w .board-ex {
    float: left;
}
.search-w .search {
    float: right;
}
.search-w .search input {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.search-w .search .search-bt {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    line-height: 30px;
    border: 0;
    background-color: #e53433;
    margin-left: 5px;
}
.search-w .seach-period {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    input {
        width: 150px;
    }
    .reset-period {
        margin-right: 5px;
    }
}
.datepicker-normal {
    > div {
        display: inline-block;
        vertical-align: middle;
    }
    > span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }
}

.table-bt {
    margin-bottom: 10px;
    text-align: right;
}
.table-bt a {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    color: #fff;
    line-height: 30px;
    background-color: #000;
}
.bt-top {
    position: fixed;
    bottom: 6px;
    right: 20px;
    display: none;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    z-index: 2;
}
#container .highLight {
    display: inline-block;
    background-color: bisque;
}

.day-process {
    position: relative;
    margin-bottom: 30px;
}
.day-process .process-cont {
    display: none;
}
.day-process .process-cont:after {
    content: '';
    display: block;
    clear: both;
}
.day-process h2 {
    margin-bottom: 5px;
    padding: 11px 5px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #f1f1f1;
}
.day-process h3 {
    margin-bottom: 5px;
    padding: 0 5px;
    font-size: 12px;
    text-align: center;
}
.day-process table {
    width: 100%;
    font-size: 11px;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
.day-process table th,
.day-process table td {
    padding: 7px 10px;
    text-align: center;
    background-color: #fff;
    vertical-align: middle;
}
.day-process .progress th,
.day-process .progress td {
    background-color: #d1e1ed;
}
.day-process .end th,
.day-process .end td {
    background-color: #c2e2ce;
}
.day-process table thead th {
    color: #fff;
    font-weight: bold;
    border-left: 1px solid #6d645b;
    background-color: #4c453e;
}
.day-process table thead th:first-child {
    border-left: 0;
    border-radius: 10px 0 0 0;
}
.day-process table thead th:last-child {
    border-radius: 0 10px 0 0;
}
.day-process table tbody tr td {
    border-left: 1px solid #fff;
}
.day-process table tfoot tr {
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #878787;
}
.day-process table tfoot tr th,
.day-process table tfoot tr td {
    font-weight: bold;
}
.day-process table tfoot tr th {
    background-color: #e8e8e8;
}
.day-process table tfoot tr td {
    border-left: 1px solid #fff;
    background-color: #e8e8e8;
}
.day-process .history {
    float: left;
    width: 60%;
}
.day-process .history table tbody tr td:nth-child(4) {
    text-align: left;
}
.day-process .result {
    float: left;
    width: 37%;
    margin-left: 3%;
}
.day-process p {
    margin-top: 5px;
    font-size: 11px;
    text-align: right;
}
.day-process .history tbody tr th span {
    display: none;
}
.day-process .history tbody tr.progress th span {
    display: block;
    position: absolute;
    left: 0;
    font-weight: bold;
    color: #f26522;
    animation: horizontal 0.7s ease-in-out infinite;
}
.day-process .history tbody tr.end th span {
    position: relative;
    left: -8px;
    top: -6px;
    display: none; /*display:inline-block;*/
    width: 4px;
    height: 4px;
    font: 0/0 a;
    font-weight: bold;
    color: #444; /*border:1px solid #444;*/
    border-radius: 50%;
    background-color: #00a651;
}
.day-process .history tbody tr.end th span:after {
    /*content:" ";display:block;position:absolute;left:2px;top:4px;width:5px;height:1px;background-color:#444;*/
}
.day-process .history tbody tr.end td a {
    color: #598527;
}
.day-process .history tbody tr.end:nth-child(odd) th span:after {
    top: 7px;
}
.day-process .history tbody tr.end:nth-child(even) th span:after {
    top: 7px;
}
@keyframes horizontal {
    0% {
        margin-left: 9px;
    }
    50% {
        margin-left: 11px;
    }
    100% {
        margin-left: 9px;
    }
}

.toggle-switch {
    position: absolute;
    right: 5px;
    top: 0;
}
.toggle-switch .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    vertical-align: middle;
}
.toggle-switch .switch input {
    display: none;
}
.toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}
.toggle-switch .slider:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.toggle-switch input:checked + .slider {
    background-color: #454545;
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #454545;
}
.toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.toggle-switch .slider.round {
    border-radius: 10px;
}
.toggle-switch .slider.round:before {
    border-radius: 50%;
}
/*.toggle-switch p {display:inline-block;margin:0px;font-size:12px;font-weight:bold;}*/
.toggle-switch p {
    position: absolute;
    top: 4px;
    display: inline-block;
    margin: 0px;
    font-size: 10px;
    font-weight: bold;
}
.toggle-switch p.off {
    left: 22px;
    color: #454545;
}
.toggle-switch p.on {
    left: 7px;
    color: #fff;
}

.charts-wrap {
    margin-top: -1px;
    padding-top: 30px;
    border: 1px solid #6d645b;
    border-top: 0;
    background-color: #fff;
    box-shadow: 2px 2px 1px #999;
}
.charts-wrap > div {
    max-width: 610px;
}
.charts-wrap svg {
    width: 100%;
    height: 100%;
}

#charts3 {
    position: relative;
}
#charts3 .category-pattern {
    position: absolute;
    left: 50px;
    bottom: 20px;
    width: 100%;
    z-index: 1;
}
#charts3 .category-pattern li {
    position: relative;
    float: left;
    width: 23%;
    font-family: verdana;
    font-size: 12px;
    color: #222;
    line-height: 1.6;
}
#charts3 .category-pattern li:nth-child(1):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #3366cc;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(2):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #dc3912;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(3):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #ff9900;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(4):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #109618;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(5):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #990099;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(6):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #0099c6;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(7):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #dd4477;
    border-radius: 6px;
}
#charts3 .category-pattern li:nth-child(8):before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: #66aa00;
    border-radius: 6px;
}

#charts3 .charts3-board {
    position: absolute;
    bottom: 70px;
    left: 24px;
    width: 89%;
    font-size: 11px;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #6d645b;
}
#charts3 .charts3-board caption {
    display: table-caption;
    text-align: left;
}
#charts3 .charts3-board th {
    color: #fff;
    font-weight: normal;
    border-left: 1px solid #6d645b;
    background-color: #4c453e;
}
#charts3 .charts3-board td {
    border-left: 0;
}
#charts3 .charts3-board .total td {
    background-color: #e8e8e8;
}

.graph-tab-btn {
    display: none;
    margin-top: 20px;
}
.graph-tab-btn h4 {
    position: absolute;
    left: 9999em;
    top: 9999em;
    font: 0/0 a;
}
.graph-tab-btn ul {
}
.graph-tab-btn ul:after {
    content: ' ';
    display: block;
    clear: both;
}
.graph-tab-btn ul li {
    float: left;
    width: 33%;
    padding: 7px 3%;
    font-size: 11px;
    text-align: center;
    border: 1px solid #6d645b;
    border-radius: 7px 7px 0 0;
    background-color: #efefef;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.graph-tab-btn ul li.active {
    font-weight: bold;
    border-bottom: 0;
    background-color: #fff;
    color: #000;
}
.graph-tab-btn ul li:last-child {
    width: 34%;
}

.pageloading_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 3;
}
.pageloading_wrap .pageloading {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}

.imageChange {
    position: fixed;
    bottom: 5px;
    right: 15px;
    width: 100px;
    height: 30px;
    background-color: #82b440;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
}

.codeView,
h2 + div,
h3 + div {
    position: relative;
}
#content .txt-copy {
    display: block;
    position: absolute;
    top: 0px;
    right: 4px;
    width: 120px;
    padding: 7px 15px;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    border-radius: 0 0 0 6px;
    background-color: #ff702c;
}
.codeView .link-change {
    display: none;
    position: absolute;
    top: -32px;
    right: 4px;
    width: 120px;
    padding: 7px 15px;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    border-radius: 6px 0 0 0;
    background-color: #448ccb;
    cursor: pointer;
    letter-spacing: -1px;
    word-spacing: -1px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    box-sizing: border-box;
}
#footer img {
    vertical-align: middle;
}

.search-w .report-bt {
    margin-left: 5px;
    float: left;
}
.day-report > p {
    position: absolute;
    top: 30px;
    left: 20px;
}
.day-report table {
    width: 100%;
}
.day-report .report-board th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    background-color: #404040;
    color: #fff;
}
.day-report .report-board tr th:nth-child(4) {
    background-color: #4472c4;
}
.day-report .report-board tr th:nth-child(6),
.day-report .report-board tr th:nth-child(7) {
    background-color: #5b9bd5;
}
.day-report .report-board td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    border-bottom: 1px solid #404040;
}
.day-report .report-board tr td:nth-child(4) {
    background-color: #d9e1f2;
}
.day-report .report-board tr td:nth-child(6),
.day-report .report-board tr td:nth-child(7) {
    background-color: #ddebf7;
}
.day-report .report-board .report-board td p {
    text-align: left;
}

.day-report .report-board .langs-links {
    font-size: 0;
    display: inline-block;
    li {
        display: inline-block;
        font-size: 13px;
        margin: 3px;
        button {
            width: 35px;
        }
    }
}

.popup-overlay {
    flex-direction: column;
    z-index: 9999999 !important;
    .popup-content {
        padding: 0 !important;
        width: 1100px !important;
    }
    .layer-in {
        max-height: calc(100vh - 100px);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 50px 0;
        position: relative;
    }
}
.popup-overlay.restriction-overlay {
    .popup-content {
        width: 90% !important;
        max-width: 1240px;
        border: 0 !important;
        border-radius: 10px;
    }
    .layer-in {
        padding: 70px 20px 20px;
        .col-cont-tit-box {
            .col-cont-tit {
                font-size: 20px;
                color: #fff;
                line-height: 1.4;
                font-weight: 400;
            }
            span {
                display: block;
                margin-top: 5px;
                font-size: 14px;
                color: #b0b0b0;
                line-height: 1.4;
            }
        }
        .col-cont-agree-box {
            padding: 0;
            margin: 35px 0 0;
            background-color: #141414;
            ul li {
                border: 1px solid rgba(79, 79, 79, 0.3);
                display: table;
                width: 100%;
                + li {
                    margin-top: 3px;
                }
                .tit {
                    background-color: rgba(79, 79, 79, 0.3);
                    display: table-cell;
                    vertical-align: middle;
                    width: 195px;
                    padding: 20px 0 15px 25px;
                    span {
                        font-size: 16px;
                        color: #b0b0b0;
                        line-height: 1.4;
                    }
                }
                .txt {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 20px 0 15px;
                    text-align: center;
                    span {
                        font-size: 16px;
                        color: #5bc6e3;
                        line-height: 1.4;
                    }
                }
                .tit span:before {
                    display: inline-block;
                    content: '';
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }

        .close {
            display: block;
            width: 18px;
            height: 39px;
            font: 0/0 a;
            background: url('../images/btnCloseNew.jpg') no-repeat 0 0;
            position: absolute;
            top: 70px;
            right: 0px;
            border: 0;
            background-size: 18px;
            outline: none;
        }
    }
}

.link-chk {
    input {
        cursor: pointer;
    }
    label {
        display: inline-block;
        margin: 10px 25px 10px 0;
    }
}

.modal-top-wrap {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 700px;
    border: 1px solid #404040;
    border-top: 0;
    border-right: 0;
    table {
        th {
            font-size: 13px;
            text-align: center;
            border-top: 1px solid #404040;
            border-right: 1px solid #404040;
            background-color: lightgray;
        }
        td {
            font-size: 13px;
            text-align: center;
            border-top: 1px solid #404040;
            border-right: 1px solid #404040;
            &.grayFill {
                background-color: #f4f4f4;
            }
        }
    }
}


.modalWrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60;
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .modalInner {
        position: relative;
        border-radius: 20px;
        background-color: #fff;
        width: 500px;
        padding: 20px;
        box-sizing: border-box;
        .layer-in {
            max-height: calc(100vh - 100px);
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
            padding: 1rem 0;
            p {
                font-size: 20px;
            }

            .confirm-bt {
                @include Flex-config($display: inline-flex, $justify: center, $align: center);
                margin: 1rem 0.25rem 0;
                font-size: 0.8rem;
                background-color: #282c34;
                color: #fff;
                padding: 0 1rem;
                height: 2rem;
                border-radius: 0.5rem;
            }
        }

        .modal-close {
            width: 40px;
            height: 38px;
            background-color: #000;
            position: relative;
            border-radius: 6px;
            box-shadow: 2px 2px 4px 0 white;
            @include Hide_txt;
            @include Position($top: 0.5rem, $right: 0.5rem);
        }

        .modal-close:before,
        .modal-close:after {
            content: '';
            position: absolute;
            width: 36px;
            height: 4px;
            background-color: white;
            border-radius: 2px;
            top: 16px;
            box-shadow: 0 0 2px 0 #ccc;
        }
        .modal-close:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 1px;
        }
        .modal-close:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 1px;
        }
    }
}

.modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.5;
    z-index: 50;
    &.active {
        display: block;
    }
}

@include ResetStyle($style: 'padding', $symbol: 'pd');
@include ResetStyle($style: 'margin', $symbol: 'mg');
@include ResetStyle($style: 'margin-top', $symbol: 'mt');
@include ResetStyle($style: 'margin-bottom', $symbol: 'mb');
@include ResetStyle($style: 'margin-left', $symbol: 'ml');
@include ResetStyle($style: 'margin-right', $symbol: 'mr');
@include ResetStyle($style: 'padding-top', $symbol: 'pt');
@include ResetStyle($style: 'padding-bottom', $symbol: 'pb');
@include ResetStyle($style: 'padding-left', $symbol: 'pl');
@include ResetStyle($style: 'padding-right', $symbol: 'pr');